
.Person {
    display: flex;
    align-items: center;
    justify-content:space-between; 
    width: 100;
}

.Person h2 {
    color: #333333;
    line-height: 20px;
    text-align: left;
    margin: 0;
}

.Person p {
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    margin: 0;

}

.Person:hover{
    cursor: pointer;
}

.Separator{
    padding-left: 16px;
}

hr {
    margin: 0;
    position: relative;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}



.Icon img {
    position: relative;
    right: 20px;
    margin: auto;
}
