
.PersonData {
    position: fixed;
    width: 60%;
    top: 52px;
    left: 32%;

}

.SectionHeader {
    height: 60px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    color: #333333;

}

.SectionRow {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 17px;
}

.Name {
    color:#828282;
}

.Value {
    color: #333333
}