body {
  margin: 0;
  font-family: 'SF Pro Display';
  font-style: normal;
  letter-spacing: 0.0125em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
